div {
    border: 1px solid black;
}

#statemachine {
    position: absolute;
    left: 20%;
    //right: 60%;
    top: 30%;
    //bottom: 30%;
    height: 320px;
    padding: 20px;
    background-color: rgb(150, 175, 175);
}

#log {
    position: relative;
    white-space: nowrap;
    left: 0px;
    right: 0px;
    border: none;
}

#log_crop {
    position: absolute;
    overflow: hidden;
    left: 45%;
    top: 40%;
    right: 0px;
    border: none;
}

#futurefog {
    position: absolute;
    right: 0px;
    left: 80%;
    top: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), white, white);
    border: none;
}

.log_slot {
    border: none;
    width: 80px;
    display: inline-block;
    position: relative;
    margin: 5px;
}

.slot_label {
    text-align: center;
    border: none;
    font-style: italic;
//    filter: blur(10px);
}

td.slot_label {
    text-align: left;
    font-style: italic;
    font-family: serif;
}

.message {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    background-color: rgb(210, 210, 230);
    font-family: "Bitstream Vera Sans Mono", sans-serif;
    font-size: 18pt;
}

.kvstore {
    font-family: "Bitstream Vera Sans Mono", sans-serif;
    font-size: 14pt;
    border-collapse: collapse;
}

.kvstore td {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

.kvstore thead td {
    font-weight: bold;
    background-color: rgb(240,240,240);
}

#controls {
    text-align: center;
    border: none;
}

#controls #go {
    width: 48px;
    height: 48px;    
}

#controls #play_pause {
    width: 48px;
    height: 48px;
}

#controls .progress {
    width: 640px;
    height: 48px;
}

.attribution {
    position: fixed;
    bottom: 0px;
    border: none;
    font-style: italic;
    font-size: 14pt;
    text-align: center;
}

#backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.server {
    position: absolute;
    width: 128px;
    height: 128px;
}

.client {
    position: absolute;
    width: 128px;
    height: 128px;
    top: 42%;
}

.request {
    opacity: 0;
    width: 64px;
    height: 64px;
    background-color: rgba(255,255,255,0);
}

div.request {
    position: absolute;
    display: inline-block;
    //width: 48px;
    height: 48px;
    border: none;
}

div.request .message {
    position: relative;
    text-align: center;
    padding: 8px;
    white-space: nowrap;
    background-color: rgb(210, 210, 230);
    font-family: "Bitstream Vera Sans Mono", sans-serif;
    font-size: 12pt;    
}

.ack {
    display: none;
    width: 48px;
    height: 48px;
}

.nak {
    display: none;
    width: 48px;
    height: 48px;
}

#clusterCenter {
    position: fixed;
    top: 50%;
    left: 70%;
    width: 20%;
    visibility: hidden;
}

#show_quorums {
    border: none;
    position: fixed;
    left: 16;
    top: 16;
    width: 100;
    color: white;
    background-color: gray;
    padding: 8px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 18pt;
}
